Develop a Python function to automatically transform a series into a supervised learning
problem where the number of input and output time steps can be specified as arguments.

In [12]:
import pandas as pd
df=pd.DataFrame()
# define example
df['t'] = [x for x in range(100)]

In [13]:
# transform function
def func(input_,output_,df):
    for i in range(input_):
        name='input_'+str(i)
        df[name]=df['t'].shift(output_+i)
    for i in range(output_):
        name='output_'+str(i)
        df[name]=df['t'].shift(i)
    df=df.drop('t', axis=1)
    return df

In [14]:
func(6,5,df)

,input_0,input_1,input_2,input_3,input_4,input_5,output_0,output_1,output_2,output_3,output_4
0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,1,0.0,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,2,1.0,0.0,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,3,2.0,1.0,0.0,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,4,3.0,2.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
95,90.0,89.0,88.0,87.0,86.0,85.0,95,94.0,93.0,92.0,91.0
96,91.0,90.0,89.0,88.0,87.0,86.0,96,95.0,94.0,93.0,92.0
97,92.0,91.0,90.0,89.0,88.0,87.0,97,96.0,95.0,94.0,93.0
98,93.0,92.0,91.0,90.0,89.0,88.0,98,97.0,96.0,95.0,94.0
99,94.0,93.0,92.0,91.0,90.0,89.0,99,98.0,97.0,96.0,95.0

'input' columns are the input data for the supervised learning problem and 'output' - are the targets